SITE_URL=https://ozcreativo.com

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET_BOOK=

RESEND_API_KEY=
ORDER_FROM_EMAIL=Oz Creativo <pedidos@ozcreativo.com>
SUPPORT_EMAIL=oz@expocuspide.com
ADMIN_EMAIL=oz@expocuspide.com
ADMIN_PASSWORD_HASH=
SESSION_SECRET=

SKYDROPX_CLIENT_ID=
SKYDROPX_CLIENT_SECRET=
SKYDROPX_BASE_URL=https://api-pro.skydropx.com
SKYDROPX_ORIGIN_NAME=
SKYDROPX_ORIGIN_COMPANY=Oz Creativo
SKYDROPX_ORIGIN_PHONE=
SKYDROPX_ORIGIN_EMAIL=oz@expocuspide.com
SKYDROPX_ORIGIN_STREET=
SKYDROPX_ORIGIN_EXTERIOR_NUMBER=
SKYDROPX_ORIGIN_INTERIOR_NUMBER=
SKYDROPX_ORIGIN_NEIGHBORHOOD=
SKYDROPX_ORIGIN_CITY=
SKYDROPX_ORIGIN_STATE=
SKYDROPX_ORIGIN_POSTAL_CODE=
SKYDROPX_ORIGIN_COUNTRY=MX
SKYDROPX_CONSIGNMENT_NOTE=Hazlo Magnifico
SKYDROPX_PACKAGE_TYPE=
